@model HarrisContactWeb.Models.PersonalContact

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PersonalContact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalAddr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalAddr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalAddr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalAddr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalPostcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalTel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonalContactID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
