@model HarrisContactWeb.Models.PersonalContact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PersonalContact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalAddr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalAddr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalAddr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalAddr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalPostcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalTel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonalContactID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
